// Importa la fuente
@import url('https://fonts.googleapis.com/css2?family=TuFuente&display=swap');

// Variables globales
$font-family-headings: 'Amatic SC', cursive;
$text-color-headings: #fff; // Color blanco para encabezados
// Variables globales
$primary-color: #007bff;
$secondary-color: #0056b3;
$background-color: #f8f8f8;
$text-color: #333;

// Tipografía
$font-family-base:  'Amatic SC', cursive;
$font-size-base: 16px;

// Espaciados
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$border-radius: 5px;




$dark-color: #333; // Fondo oscuro
$light-color: #fff; // Texto blanco
$primary-color: #007BFF; // Color principal para el hover (puedes ajustarlo según tu diseño)



$background-light: #f9f9f9; // Fondo claro
$text-color: #333; // Color del texto
$primary-color: #007BFF; // Color principal
$error-color: #FF0000; // Rojo para los mensajes de error
$success-color: #28A745; // Verde para los mensajes de éxito
$border-color: #ccc; // Color de los bordes de los inputs

$font-family-headings: 'Georgia, serif'; // Fuente para títulos




$background-light: #f9f9f9; // Fondo claro
$text-color: #333; // Color del texto
$primary-color: #007BFF; // Color principal
$light-color: #fff; // Color blanco
$border-color: #ccc; // Color del borde
$font-family-base: 'Amatic SC', cursive;
$font-family-headings: 'Amatic SC', cursive;


$background-light: #f9f9f9;
$light-color: #fff;
$text-color: #333;
$primary-color: #007BFF;

